{% extends 'ht/base.html' %}
{% block title %} Mail Sending {% endblock %}
{% block content %}
<div class="container">
	{% if messages %}
	{% for j in messages %}
	<div class="alert alert-{{j.tags}} alert-dismissible mt-2">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		{{j}}
	</div>
	{% endfor %}
	{% endif %}
	<div class="card col-md-7 mx-auto mt-3">
		<h2 class="bg-dark text-white text-center p-2 border rounded mx-2 my-2">Mail Sending</h2>
		<div class="card-body">
			<form method="post">
				{% csrf_token %}
				<!-- <input type="text" name="rcv" class="form-control my-2" placeholder="Enter your mail"> -->
				<input type="text" name="sub" class="form-control my-2" placeholder="Enter Subject">
				<textarea class="form-control my-2" rows="7" cols="10" placeholder="Enter Message Here....." name="msg"></textarea>
				<input type="submit" value="Send" class="btn btn-primary btn-block my-2">
			</form>
		</div>
	</div>
</div>
{% endblock %}