<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- <h1 class="mx-5 my-4 bg-success text-white border rounded  p-2 text-center">Task</h1>
	<div class="container">
		<div class="row">
			<div class="jumbotron col mr-2">
				<h4>Sample</h4>
			</div>
			<div class="jumbotron col ml-2">
				<h4>Sample-1</h4>
			</div>
		</div>
		<div class="row">
			<div class="jumbotron col mr-2">
				<h4>Sample-2</h4>
			</div>
			<div class="jumbotron col mx-2">
				<h4>Sample-3</h4>
			</div>
			<div class="jumbotron col ml-2">
				<h4>Sample-4</h4>
			</div>
		</div>
		<div class="row">
			<div class="jumbotron col-md-4 mr-2">
				<h4>Sample-5</h4>
			</div>
			<div class="jumbotron col ml-2">
				<h4>Sample-6</h4>
			</div>
		</div>
	</div> -->
	<div class="container">
		<div class="row">
			<div class="jumbotron col mr-2 mt-3 shadow-lg">
				<h3 class="bg-primary p-2 text-center text-dark border rounded">Login</h3>
				<form class="col-md-10 mx-auto">
					<input type="text" placeholder="Enter Username" class="form-control my-2">
					<input type="password" placeholder="Enter Password" class="form-control my-2">
					<input type="submit" name="Login" class="btn btn-success">
				</form>
			</div>
			<div class="card col ml-2 mt-3 shadow-lg">
				<h3 class="bg-dark mx-2 mt-3 p-2 text-center text-light border rounded">Registration</h3>
			</div>
		</div>
	</div>
</body>
</html>