<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetching Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">APSSDC</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'hm' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'reg' %}">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ftc' %}">Fetch Details</a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="card col-md-8 mx-auto mt-4">
    <h2 class="bg-warning text-white text-center border rounded p-2 m-2">Fetched Data</h2>
    <table class="table table-borderless border rounded table-hover">
      <tr style="background-color: black;color:white">
        <th>S.no</th>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Age</th>
        <th>Gender</th>
        <th colspan="2">Actions</th>
      </tr>
        {% for j in y %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{j.name}}</td>
        <td>{{j.mobile_no}}</td>
        <td>{{j.age}}</td>
        <td>{{j.gender}}</td>
        <td><a href="{% url 'p' j.id %}" class="btn btn-success mx-1">Edit</a><a href="#" class="btn btn-danger mx-1">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
</body>
</html>